openapi: 3.1.0
info:
  title: Botpress Cloud Admin Users API
  description: 'REST API for managing bots, conversations, messages, users, files, tables, and

    workspaces on Botpress Cloud. Covers the Chat / Runtime, Files, Tables, and

    Admin surfaces of the Botpress Cloud platform.

    '
  version: 1.0.0
  contact:
    name: Botpress
    url: https://botpress.com/docs
servers:
- url: https://api.botpress.com/v1
  description: Botpress Cloud production
security:
- BearerAuth: []
tags:
- name: Users
paths:
  /chat/users:
    get:
      operationId: listUsers
      summary: List users
      tags:
      - Users
      responses:
        '200':
          description: Users list
    post:
      operationId: createUser
      summary: Create a user
      tags:
      - Users
      responses:
        '201':
          description: User created
  /chat/users/{id}:
    get:
      operationId: getUser
      summary: Retrieve a user
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User
    put:
      operationId: updateUser
      summary: Update user information
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    delete:
      operationId: deleteUser
      summary: Delete a user
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token or workspace API key passed as a Bearer token.
