openapi: 3.1.0
info:
  title: Botpress Cloud API
  description: |
    REST API for managing bots, conversations, messages, users, files, tables, and
    workspaces on Botpress Cloud. Covers the Chat / Runtime, Files, Tables, and
    Admin surfaces of the Botpress Cloud platform.
  version: "1.0.0"
  contact:
    name: Botpress
    url: https://botpress.com/docs
servers:
  - url: https://api.botpress.com/v1
    description: Botpress Cloud production
security:
  - BearerAuth: []
tags:
  - name: Conversations
  - name: Messages
  - name: Users
  - name: Files
  - name: Tables
  - name: Admin
paths:
  /chat/conversations:
    get:
      operationId: listConversations
      summary: List conversations
      tags: [Conversations]
      responses:
        '200':
          description: Conversations list
    post:
      operationId: createConversation
      summary: Create a new conversation
      tags: [Conversations]
      responses:
        '201':
          description: Conversation created
  /chat/conversations/{id}:
    get:
      operationId: getConversation
      summary: Retrieve a conversation
      tags: [Conversations]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Conversation
    delete:
      operationId: deleteConversation
      summary: Delete a conversation
      tags: [Conversations]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted
  /chat/conversations/get-or-create:
    post:
      operationId: getOrCreateConversation
      summary: Get or create a conversation
      tags: [Conversations]
      responses:
        '200':
          description: Conversation
  /chat/messages:
    get:
      operationId: listMessages
      summary: List messages
      tags: [Messages]
      responses:
        '200':
          description: Messages list
    post:
      operationId: createMessage
      summary: Create a new message
      tags: [Messages]
      responses:
        '201':
          description: Message created
    put:
      operationId: updateMessages
      summary: Update message tags and payload
      tags: [Messages]
      responses:
        '200':
          description: Updated
  /chat/messages/{id}:
    get:
      operationId: getMessage
      summary: Retrieve a message
      tags: [Messages]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Message
    delete:
      operationId: deleteMessage
      summary: Delete a message
      tags: [Messages]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted
  /chat/users:
    get:
      operationId: listUsers
      summary: List users
      tags: [Users]
      responses:
        '200':
          description: Users list
    post:
      operationId: createUser
      summary: Create a user
      tags: [Users]
      responses:
        '201':
          description: User created
  /chat/users/{id}:
    get:
      operationId: getUser
      summary: Retrieve a user
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: User
    put:
      operationId: updateUser
      summary: Update user information
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Updated
    delete:
      operationId: deleteUser
      summary: Delete a user
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted
  /files:
    get:
      operationId: listFiles
      summary: List files
      tags: [Files]
      responses:
        '200':
          description: Files list
    post:
      operationId: upsertFiles
      summary: Create or upsert files
      tags: [Files]
      responses:
        '201':
          description: Files upserted
  /files/{id}:
    get:
      operationId: getFile
      summary: Retrieve file details
      tags: [Files]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: File details
    delete:
      operationId: deleteFile
      summary: Delete a file
      tags: [Files]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted
  /files/search:
    get:
      operationId: searchFiles
      summary: Search file contents
      tags: [Files]
      responses:
        '200':
          description: Matching files
  /tables:
    get:
      operationId: listTables
      summary: List tables
      tags: [Tables]
      responses:
        '200':
          description: Tables list
    post:
      operationId: createTable
      summary: Create a table
      tags: [Tables]
      responses:
        '201':
          description: Table created
  /tables/{id}/rows:
    post:
      operationId: insertTableRows
      summary: Insert table rows
      tags: [Tables]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '201':
          description: Rows inserted
    put:
      operationId: updateTableRows
      summary: Update table rows
      tags: [Tables]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Updated
  /tables/{id}/rows/find:
    post:
      operationId: findTableRows
      summary: Query table rows
      tags: [Tables]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Matching rows
  /admin/bots:
    get:
      operationId: listBots
      summary: List bots
      tags: [Admin]
      responses:
        '200':
          description: Bots list
    post:
      operationId: createBot
      summary: Create a bot
      tags: [Admin]
      responses:
        '201':
          description: Bot created
  /admin/bots/{id}:
    put:
      operationId: updateBot
      summary: Update a bot
      tags: [Admin]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Updated
    delete:
      operationId: deleteBot
      summary: Delete a bot
      tags: [Admin]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted
  /admin/workspaces:
    get:
      operationId: listWorkspaces
      summary: List workspaces
      tags: [Admin]
      responses:
        '200':
          description: Workspaces list
    post:
      operationId: createWorkspace
      summary: Create a workspace
      tags: [Admin]
      responses:
        '201':
          description: Workspace created
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token or workspace API key passed as a Bearer token.
